@charset "UTF-8";
/* CSS Document */

.background_1 {background-color: #353b3aff}

.bodycopy {color: #dfcca9ff}

.heading {font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}

img {width: 100%; height: auto;}

.headerbg {background-color:rgba(0,0,0,0.25)}

.splash {width:3584px; height:1808px}

.main {background-image: url("sebastian-unrau-sp-p7uuT0tw-unsplash.jpg"); 
  background-size: cover;
  background-position: center;
  height: 1100px; /* Set the height to fit your needs */
}

